# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C and C++ artifacts
*.o
*.obj
*.exe

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments & IDEs
.venv/
venv/
ENV/
.vscode/
.idea/

# OS artifacts
Thumbs.db
.DS_Store
*.tmp
